@using GuildWars2.Models.Guilds

@model List<GuildMember>

@{
    ViewBag.Title = "Members";
}

<div class="row">
    <div class="col-md-4">
        <h2>Guild Members</h2>
        
            @foreach (var rank in Model.GroupBy(member => member.Rank))
            {
                <i>@rank.Key</i>
                <ul>
                    @foreach (var member in rank)
                    {
                        <li>
                            @if (member.Name == "Mythrim.6581")
                            {
                                <a href="@($"../Members/Member?id={member.Name}")">
                                    @member.Name
                                </a>
                            }
                            else
                            {
                                @member.Name
                            }                            
                        </li>
                    }                    
                </ul>
            }
    </div>
</div>