@{
    ViewBag.Title = "Home Page";

    var guild = Session["Guild"] as GuildWars2.Models.Guilds.Guild;
}

<h1>@guild.MessageOfTheDay</h1>

<div class="row calendar">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=qv0pt6ud7uvgpnfof4vme4l9bc%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FLondon" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
</div>