<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Guild Website' in resource group 'Default-ApplicationInsights-EastUS' -->
  <!-- This key is for Application Insights resource 'Guild Website' in resource group 'Default-ApplicationInsights-EastUS' -->
  <InstrumentationKey>ed6f4025-4548-46e2-ba7c-aab4769d968e</InstrumentationKey>
</ApplicationInsights>